main {
    max-width: 1200px;
    padding: 20px 30px;
    width: 100%;
    margin: 0 auto;
}

.topicpage-main {
    .group-info-contain {
        // border:1px solid #7f7f7f;
        box-shadow:3px 3px 5px 6px #f7f7f7;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:  20px;
        background: #fff;
        figure {
            flex: 1;
            margin-right: 50px;

            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 50vh;
            }
        }

        >div {
            flex: 7;
        }

        .progress {
            width: 100%;
        }

    }

    .btn-wrap {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 40px;
        button {
            flex: 1;
            &:nth-child(1){
                border-radius: 6px 0 0 6px;
            }
            &:nth-child(2){
                border-radius: 0 6px 6px 0;
            }
        }
    }
}